html{
    height: 100%;
    width: 100%;
    background:#FBFCF7 ;
}
body{
    font-family: "Noto Serif Light";
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    margin-bottom: 15px;
}

.my-btn{
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #0e0e0e;
    padding: 12px;
    border-radius: 10px;
    width: 135px;
    border: none;
}

.my-btn:hover{
    cursor: pointer;
    background: #292929;
}

.my-btn2{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    border: none;
}

#the-form{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-box{
    width:100%;
    padding: 10px;
    height: 40px;
    border-radius: 12px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

#button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22%;
    margin-top: 12px;
}



.my-btn2:hover{
    cursor: pointer;
    background: #b5b5b5;
    color: white;
}

.my-btn2:active{
    background: #656565;
}